<header class="header-one">
    <!-- Start top bar -->
    <div class="topbar-area">
        <div class="container">
            <div class="row">
                <div class=" col-md-8 col-sm-8 col-xs-12">
                    <div class="topbar-left">
                        <ul>
                            <li><a href="#"><i class="fa fa-envelope"></i> info@gonewiththewin.co.uk</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 hidden-xs">
                    <div class="topbar-right">
                        <ul class="navbar-nav ml-auto ml-md-0">
                            <li th:if="${loggedIn == null}"><a th:href="@{login}"><img th:src="@{/img/icon/login.png}" alt="">Login</a>
                            <li th:if="${loggedIn != null}" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                    <a th:if="${loggedIn != null}" class="dropdown-item" th:href="@{myProfile}" alt=""><i class="fa fa-user" aria-hidden="true"></i>Profile</a>
                                    <div th:if="${loggedIn != null}" style="height: 0;margin: 0.5rem 0;overflow: hidden;border-top: 1px solid #e9ecef;"></div>
                                    <a th:href="@{logout}"><i alt="" class="fas fa-sign-in-alt"></i>&nbsp;Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <input th:if="${loggedIn != null}" id="loggedIn" type="hidden" value="true">
                    <input th:if="${loggedIn != null}" id="loggedInEmail" type="hidden" th:value="${loggedInEmail}">
                </div>
            </div>
        </div>
    </div>
    <!-- End top bar -->
    <!-- header-area start -->
    <div id="sticker" class="header-area hidden-xs">
        <div class="container">
            <div class="row">
                <!-- logo start -->
                <div class="col-md-3 col-sm-3">
                    <div class="logo">
                        <!-- Brand -->
                        <a class="navbar-brand " href="/">
                            <img th:src="@{/img/logo/gwtwlogo.png}" alt="">
                        </a>
                    </div>
                    <!-- logo end -->
                </div>
                <div class="col-md-9 col-sm-9">
                    <div class="header-right-link">
                        <!-- search option end -->
                    </div>
                    <!-- mainmenu start -->
                    <nav class="navbar navbar-default">
                        <div class="collapse navbar-collapse" id="navbar-example">
                            <div class="main-menu">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a class="pages" href="/">Home</a></li>
                                    <li><a class="pages" href="/results">Results</a></li>
                                    <li><a class="pages" href="/current-competitions">Competitions</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <!-- mainmenu end -->
                </div>
            </div>
        </div>
    </div>
    <!-- header-area end -->
    <!-- mobile-menu-area start -->
    <div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-menu">
                        <div class="logo">
                            <a href="/"><img th:src="@{/img/logo/gwtwlogo.png}" alt=""/></a>
                        </div>
                        <nav id="dropdown">
                            <ul>
                                <li th:if="${loggedIn != null}"><a class="pages" href="/myProfile">Profile</a></li>
                                <li th:if="${loggedIn == null}"><a class="pages" href="/login">Login</a></li>
                                <li><a class="pages" href="/">Home</a></li>
                                <li><a class="pages" href="/results">Results</a></li>
                                <li><a class="pages" href="/current-competitions">Competitions</a></li>
                                <li th:if="${loggedIn != null}"><a class="pages" href="/logout">Logout</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu-area end -->
</header>