<header class="header-one">
    <!-- Start top bar -->
    <div class="topbar-area">
        <div class="container">
            <div class="row">
                <div class=" col-md-8 col-sm-8 col-xs-12">
                    <div class="topbar-left">
                        <ul>
                            <li><a href="#"><i class="fa fa-envelope"></i> info@gonewiththewin.co.uk</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="topbar-right">
                        <ul class="navbar-nav ml-auto ml-md-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                    <a th:if="${loggedIn != null}" class="dropdown-item" th:href="@{myProfile}" alt="">Profile</a>
                                    <div th:if="${loggedIn != null}" style="height: 0;margin: 0.5rem 0;overflow: hidden;border-top: 1px solid #e9ecef;"></div>
                                    <a th:if="${loggedIn != null}" th:href="@{logout}"><i alt="" class="fas fa-sign-in-alt"></i>&nbsp;Logout</a>
                                    <a th:if="${loggedIn == null}" th:href="@{login}"><i alt="" class="fas fa-sign-in-alt"></i>&nbsp;Login</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <input th:if="${loggedIn != null}" id="loggedIn" type="hidden" value="true">
                    <input th:if="${loggedIn != null}" id="loggedInEmail" type="hidden" th:value="${loggedInEmail}">
                </div>
            </div>
        </div>
    </div>
    <!-- End top bar -->
    <!-- header-area start -->
    <div id="sticker" class="header-area hidden-xs">
        <div class="container">
            <div class="row">
                <!-- logo start -->
                <div class="col-md-3 col-sm-3">
                    <div class="logo">
                        <!-- Brand -->
                        <a class="navbar-brand " href="/">
                            <img th:src="@{/img/logo/gwtwlogo.png}" alt="">
                        </a>
                    </div>
                    <!-- logo end -->
                </div>
                <div class="col-md-9 col-sm-9">
                    <div class="header-right-link">
                        <!-- search option end -->
                    </div>
                    <!-- mainmenu start -->
                    <nav class="navbar navbar-default">
                        <div class="collapse navbar-collapse" id="navbar-example">
                            <div class="main-menu">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a class="pages" href="/">Home</a></li>
                                    <li><a class="pages" href="about.html">About</a></li>
                                    <li><a class="pages" href="#">Results</a>
                                        <ul class="sub-menu">
                                            <li><a href="results.html">Results</a></li>
                                            <li><a href="latest-win.html">Latest Winners</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="pages" href="/currentcomps">Live</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <!-- mainmenu end -->
                </div>
            </div>
        </div>
    </div>
    <!-- header-area end -->
    <!-- mobile-menu-area start -->
    <div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-menu">
                        <div class="logo">
                            <a href="/"><img th:src="@{/img/logo/gwtwlogo.png}" alt=""/></a>
                        </div>
                        <nav id="dropdown">
                            <ul>
                                <li><a class="pages" href="/">Home</a></li>
                                <li><a class="pages" href="about.html">About</a></li>
                                <li><a class="pages" href="#">Results</a>
                                    <ul class="sub-menu">
                                        <li><a href="results.html">Results</a></li>
                                        <li><a href="latest-win.html">Latest Winner</a></li>
                                    </ul>
                                </li>
                                <li><a class="pages" href="/currentcomps">Live</a></li>
                                <li><a class="pages" href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="affiliate.html">Affiliate</a></li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="signup.html">Signup</a></li>
                                        <li><a href="error.html">Error</a></li>
                                        <li><a href="terms.html">terms & Conditions</a></li>
                                    </ul>
                                </li>
                                <li><a class="pages" href="#">Blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.html">Blog grid</a></li>
                                        <li><a href="blog-sidebar.html">Blog Sidebar</a></li>
                                        <li><a href="blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">contacts</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu-area end -->
</header>